
{% block form_errors %}
    {% spaceless %}
          {% for error in errors %}
                <div class="alert alert-danger" style="text-align: center;">{{ error.message }}</div>
          {% endfor %}
    {% endspaceless %}
{% endblock %}