{% extends 'base.html.twig' %}

{% block title %}Zaloguj się! | Roomies4Ever
{% endblock %}

{% block body %}
    <div id='app' class='notification' data-type="{{type}}" data-header="{{header}}" data-message="{{message}}"></div>
    <center>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="container-Forms">
                <h1 class="h3 mb-3 font-weight-normal">Witamy!</h1>
                <label class="sr-only" for="inputEmail" style="margin-right:300px;margin-bottom:30px;overflow:visible; position:relative">
                    <b>Email:</b>
                </label>
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus style="width:300px;margin-bottom:10px;border-radius:7px">
                <label class="sr-only" for="inputPassword" style="margin-right:300px;margin-bottom:30px;overflow:visible; position:relative">
                    <b>Hasło:</b>
                </label>
                <input class="form-control" id="inputPassword" name="password" placeholder="Hasło" required style="width:300px;margin-bottom:20px;border-radius:7px" type="password">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button id="loginButton" class="btn btn-lg btn-primary" type="submit">
                    Zaloguj się</button>
            </form>
            <div>
                <p style="color: gray; margin-top: 15px;">
                    Lub
                </p>

            </div>
            <div class="button-google" id="google" onclick="document.location.href='/connect/google';">
                <div class="google-logo"></div>
                <div class="google-label">Zaloguj się z Google </div>
            </div>
            <p style="margin-top:20px; color: gray;">
                    Nie masz konta w serwisie?
                    <a class="register-btn" href="/register">
                        <u>Zarejestruj się</u>
                    </a>
                </p>
        </center>
        <style>
            .container-Forms{
                width: 350px;
            }
            #loginButton{
                margin-bottom: 10px;
                vertical-align: middle;
                width: 250px;
                height: 40px;
                margin: 0 auto;
                padding: 0;
                line-height: 50px;
                text-align: center;
                line-height: 40px;
            }
            .button-google{
                position: relative;
                width: 250px;
                height: 40px;
                border: 1px solid lightgray;
                border-radius: 7px;
                cursor: pointer;
            }
            .button-google:hover{
                background-color: lightskyblue;
            }
            .button-google:active{
                background-color: #2780E3;
            }
            .google-logo{
                position: absolute;
                background-image: url("https://www.stickpng.com/assets/images/5a951939c4ffc33e8c148af2.png");
                background-size: auto 100%;
                width: 25px;
                height: 25px;
                margin: auto 0 auto 0;
                top: 0;
                bottom: 0;
                left: 10px;
            }
            .google-label{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 65px;
                color: gray;
                user-select: none;
            }
            .button-google:hover .google-label{
                color: white;
            }
        </style>
    {% endblock %}
