{% extends 'base.html.twig' %}
{% block title %}Rejestracja | Roomies4Ever
{% endblock %}
{% block body %}
<center>
    <div class="container-Forms" id="show">
        <style>
            @media only screen and (min-width: 700px) {
    .container-Forms{
                width: 400px;
            }
}
            #show div {
                margin: 10px 15px;
            }

            label {
                margin-right: 5px;
                margin-left: 5px;
            }

            .form-control {
                border-radius: 7px;
            }

            #form_submit {
                margin-top: 10px;
            }
        </style>
        <h1>Rejestracja</h1>
        {{form(registrationForm)}}
        <p style="color: gray; margin-top: 15px;">
            Lub
        </p>
        <div class="button-google" id="google" onclick="document.location.href='/connect/google';">
            <div class="google-logo"></div>
            <div class="google-label">Zaloguj się z Google </div>
        </div>
    </div>
</center>
<style>
    .btn {
        vertical-align: middle;
        width: 250px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .button-google {
        position: relative;
        width: 250px;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 7px;
        cursor: pointer;
    }

    .button-google:hover {
        background-color: lightskyblue;
    }

    .button-google:active {
        background-color: #2780E3;
    }

    .google-logo {
        position: absolute;
        background-image: url("https://www.stickpng.com/assets/images/5a951939c4ffc33e8c148af2.png");
        background-size: auto 100%;
        width: 25px;
        height: 25px;
        top: -3px;
    }

    .google-label {
        position: absolute;
        top: -2px;
        left: 55px;
        color: gray;
        user-select: none;
    }

    .button-google:hover .google-label {
        color: white;
    }
</style>
{% endblock %}