{% extends 'base.html.twig' %}

{% block title %}
Zarezerwowane | Roomies4Ever
{% endblock %}

{% block body %}
    <div class="container" style="padding: 16px;  border-radius: 5px; margin-bottom:5 px;">
        {# padding: 20px 0 30px 0;"> #}
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 20px 0; border-collapse: collapse;">
            <tr style="background-color: #f2f2f2;">
                <td>
                    Zdjęcie pokoju
                </td>
                <td>
                    Nazwa pokoju
                </td>
                <td>
                    Termin
                </td>
                <td>
                    Akcja
                </td>

            </tr>

            {% for booking in pagination %}

                <tr id="{{booking.id}}"style="border-bottom-style: solid;border-bottom-width: 2px; border-bottom-color: #f2f2f2;">
                    <td><a href="room/show/{{booking.room.id}}"><img src="{{ booking.room.image1 }}" alt="Room-image" height="60" width="90"></a>
                    </td>
                    <td>{{ booking.room.title }}
                    </td>
                    <td>
                        {{ booking.dateFrom | date('d.m.Y') }} - {{ booking.dateTo | date('d.m.Y') }}
                    </td>
                    <td>
                        <a id="unbook-{{booking.id}}" class="delete-room" href="javascript::void(0)">
                            <i class="fas fa-trash-alt" data-booking="{{booking.id}}">Odwołaj</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table></div>
            <div class="navigation"> 
                {{ knp_pagination_render(pagination) }} 
            </div> 
        {{ encore_entry_script_tags('unbook') }}
    {% endblock %}