{% extends 'base.html.twig' %}

{% block title %}
Ulubione | Roomies4Ever
{% endblock %}

{% block body %}
    <div class="container" style="padding: 16px;  border-radius: 5px; margin-bottom:5 px;">
        {# padding: 20px 0 30px 0;"> #}
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 20px 0; border-collapse: collapse;">
            <tr style="background-color: #f2f2f2;">
                <td>
                    Zdjęcie pokoju
                </td>
                <td>
                    Nazwa pokoju
                </td>
                <td>
                    Cena pokoju/noc
                </td>
                <td>
                    Dodano
                </td>

            </tr>

            {% for room in pagination %}

                <tr style="border-bottom-style: solid;border-bottom-width: 2px; border-bottom-color: #f2f2f2;">
                    <td><a href="room/show/{{room.id}}"><img src="{{ room.image1 }}" alt="Room-image" height="60" width="90"></a>
                    </td>
                    <td>{{ room.title }}
                    </td>
                    <td>{{ room.price }}
                        zł
                    </td>
                    <td>
                        {{ room.uploaded | date('Y-m-d') }}
                    </td>
                </tr>
            {% endfor %}
            </table></div>
            <div class="navigation"> 
                {{ knp_pagination_render(pagination) }} 
            </div> 

    {% endblock %}
