{% extends 'base.html.twig' %}

{% block title %}
    Autorzy | Roomies4Ever
{% endblock %}

{% block body %}
    <div style="text-align:center;">
        <cener><br><h1>Nasz zespół:</h1><br><br></center>
    </div>

    <div class="container" style="margin: 0px auto; justify-content:space-around; display:flex; flex-direction: row; flex-wrap: wrap;">
        <div class="author" style="margin: 0px auto; font-family: 'Comic Sans'; font-size: 22px;">
            <center>
                <img alt="Krzysztof Czerwiński" height="auto" src="https://res.cloudinary.com/roomies4ever/image/upload/v1561505666/RoomsImages/a4o8ytdxkwcmviq9ldfh.png" width="auto">

                <div class="fullname" style="margin-top:10px">Krzysztof Czerwiński</div>
                <div class="posidescriptiontion" style="margin-top:10px">Full Stack Developer</div>
            </center>
            <br>
        </div>
        <div class="author" style="margin: 0px auto;margin-left:20px; margin-right:20px; font-family: 'Comic Sans';font-size: 22px;">
            <center>
                <div class="photo"><img alt="Anastazja Reinisch" height="auto" src="https://res.cloudinary.com/roomies4ever/image/upload/v1561505667/RoomsImages/jhcmfdnfkhpeay3kbcwj.png" width="auto"></div>
                <div class="fullname" style="margin-top:10px">Anastazja Reinisch</div>
                <div class="description" style="margin-top:10px; width:200px">Full Stack Developer</div>
            </center>
            <br>
        </div>
        <div class="author" style="margin: 0px auto; font-family: 'Comic Sans';font-size: 22px;">
            <center>
                <div class="photo"><img alt="Kacper Purgat" height="auto" src="https://res.cloudinary.com/roomies4ever/image/upload/v1561505668/RoomsImages/naodksieyxfhmh31yk4j.png" width="auto"></div>
                <div class="fullname" style="margin-top:10px">Kacper Purgat</div>
                <div class="description" style="margin-top:10px">Frontend Developer</div>
            </center>
            <br>
        </div>
    </div>
    <br>
{% endblock %}
