{% extends 'base.html.twig' %}

{% block title %}
    Strona główna | Roomies4Ever
{% endblock %}

{% block body %}
    <div id='app' class='notification' data-message="{{message}}" data-header="{{header}}" data-type="{{type}}"></div>
    <div class="bd-example">
        <div class="carousel slide" data-ride="carousel" id="carouselExampleCaptions">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselExampleCaptions"></li>
                <li data-slide-to="1" data-target="#carouselExampleCaptions"></li>
                <li data-slide-to="2" data-target="#carouselExampleCaptions"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-height:650px">
                    <img alt="roomies4ever" class="d-block w-100" src="https://res.cloudinary.com/roomies4ever/image/upload/v1561524278/RoomsImages/ec5igadsvrvojlqh1tzt.jpg">
                    <div class="carousel-caption d-md-block" style="border-radius:15px; border:1px; background-color: #2780E3; white-space:normal;">
                        <h1 class='do-not-display'>Znajdź pokój u nas!</h1>
                        <p class="mb-5 lead" style="color: #fff;">Dzięki wzajemnemu zaufaniu użytkowników, jesteśmy w stanie zapewnić Wam najlepsze miejsce na nocleg w całej Polsce!</p>
                    </div>
                </div>
                <div class="carousel-item" style="max-height:650px">
                    <img alt="roomies4ever" class="d-block w-100" src="https://res.cloudinary.com/roomies4ever/image/upload/v1561524279/RoomsImages/halaqgdfm8syhwymzosr.jpg">
                    <div class="carousel-caption d-md-block" style="border-radius:15px; border:1px;">
                        <h1 class='do-not-display'>Szukaj ofert!</h1>
                        <p>
                            <a class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block" href="/search?lat=-200&lng=-200&radius=1000&df=0&dt=0&priceMin=0&priceMax=0&orderBy=uploaded&advanced=false" style="color: #fff;white-space:normal;">WYNAJMIJ POKÓJ JUŻ TERAZ!</a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item" style="max-height:650px">
                    <img alt="roomies4ever" class="d-block w-100" src="https://res.cloudinary.com/roomies4ever/image/upload/v1561524281/RoomsImages/hifj0u5zvds7bppgivaa.jpg">
                    <div class="carousel-caption d-md-block" style="border-radius:15px; border:1px;">
                        <h1 class='do-not-display'>Dodaj ofertę!</h1>
                        <p>
                            <a class="btn btn-white py-3 px-5 rounded-0 d-block d-sm-inline-block" href="/room/new" style="color: #fff;white-space:normal;">WYSTAW OFERTĘ WOLNEGO POKOJU TERAZ!</a>
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleCaptions" role="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" data-slide="next" href="#carouselExampleCaptions" role="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <style>
    @media screen and(max-width: 450px),
    (max-height:631px) {
        .do-not-display {
        display: none !important;
        }
    }
    </style>
{% endblock %}
