{% extends 'base.html.twig' %}

{% block title %}
    Edycja oferty | Roomies4Ever
{% endblock %}

{% block body %}
        <div class='form-errors'>
            {{form_start(form)}}
            {{form_errors(form.area)}}
            {{form_errors(form.price)}}
            {{form_errors(form.description)}}
            {{form_errors(form.dateTo)}}
        </div>
        <div class="container" style="padding: 16px;  border-radius: 5px;  background-color: white; box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2); margin-top: 20px; margin-bottom:20px; border-radius: 7px; padding: 20px 0 30px 0;">
                    <h1>
                Dodawanie pokoju
            </h1>
            {{form_start(form)}}
                {{form_widget(form.title)}}
            
                {{form_widget(form.area)}}
                {{form_widget(form.price)}}
            <h3>Termin dostępności</h3>
            <div class="row">
                    <div class="col-md-4">
                        {{form_widget(form.dateFrom)}}
                    </div>
                    <div class="col-md-4">
                        {{form_widget(form.dateTo)}}
                    </div>
            </div>
            {{form_widget(form.description)}}
            {{form_widget(form.submit)}}
                {{form_end(form)}}
            
        </div>
         {{ encore_entry_link_tags('room') }}
    {% endblock %}
