{% extends 'base.html.twig' %}

{% block title %}
    Lokalizacja | Roomies4Ever
{% endblock %}

{% block body %}
    <h1>
        Podaj lokalizację dla oferty</h1>
    <center>
        <div id="mapid" style="width: 75vw; height: 70vh;"></div>
        <input id="submit" type="submit" class="btn btn-primary btn-lg" onclick="onMapClick1()" value="Zapisz" style="margin-top:2vh;margin-bottom:3vh;">
        <div class="id" data-id="{{app.request.get('id')}}">
            {{ encore_entry_script_tags('roomMap') }}
        {% endblock %}
