{% extends 'base.html.twig' %}

{% block title %}
    Nowa oferta | Roomies4Ever
{% endblock %}

{% block body %}
        <div class="form-errors">
            {{form_errors(form.area)}}{{form_errors(form.price)}}{{form_errors(form.dateFrom)}}{{form_errors(form.dateTo)}}{{form_errors(form.description)}}{{form_errors(form.image1)}}{{form_errors(form.image2)}}{{form_errors(form.image3)}}{{form_errors(form.image4)}}{{form_errors(form.image5)}}
        </div>
        <div class="container" style="padding: 16px;  border-radius: 5px;  background-color: white; box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2); margin-top: 20px; margin-bottom:20px; border-radius: 7px; padding: 20px 0 30px 0;">
                    <h1>
                Dodawanie pokoju
            </h1>
            {{form_start(form)}}
                {{form_widget(form.title)}}
            
                {{form_widget(form.area)}}
                {{form_widget(form.price)}}
            <h3>Termin dostępności</h3>
            <div class="row">
                    <div class="col-md-4">
                        {{form_widget(form.dateFrom)}}
                    </div>
                    <div class="col-md-4">
                        {{form_widget(form.dateTo)}}
                    </div>
            </div>
            {{form_widget(form.description)}}
            <div class="upload">                   
                {{form_widget(form.image1)}}{{form_label(form.image1)}}       
                {{form_widget(form.image2)}}{{form_label(form.image2)}}         
                {{form_widget(form.image3)}}{{form_label(form.image3)}}         
                {{form_widget(form.image4)}}{{form_label(form.image4)}}        
                {{form_widget(form.image5)}}{{form_label(form.image5)}} 
                <div id="new" class="new-img disabled">
                    <i class="material-icons">add</i>Dodaj kolejne
                </div>
            </div>
            {{form_widget(form.submit)}}
                {{form_end(form)}}
            
        </div>
        {{ encore_entry_link_tags('room') }}
        {{ encore_entry_script_tags('newRoom') }} 
    {% endblock %}
