{% extends 'base.html.twig' %}

{% block title %}
	{{room.title}}
	| Roomies4Ever
{% endblock %}

{% block body %}
	<style>
		.mother {
			border-right: 40px;
			margin-right: 20px;
			margin-left: 40px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		div.a {
			width: 65%;
			overflow-wrap: break-word;
			flex-wrap: wrap;
			margin-left: 0;
			margin-right: 5px;
			width: 70vw;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.has-tip {
			position:relative;
			cursor: help;
			display: inline-block;
		}

		.tooltip {
			background: #2780E3;
			color: #fff;
			display: none;
			left: 0;
			padding: 10px;
			position: absolute;
			-webkit-transform: translateY(10px);
			-ms-transform: translateY(10px);
			transform: translateY(10px);
			-webkit-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
		}

		.has-tip .tooltip:before {
			bottom: -20px;
			content: '';
			display: block;
			height: 20px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		.has-tip:hover .tooltip {
			opacity: 1;
			display: block;
			pointer-events: auto;
			-webkit-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
		}

		.lte8 .has-tip .tooltip {
			display: none;
		}

		.lte8 .has-tip:hover .tooltip {
			display: block;
		}

		.columns {
			float: left;
			width: 50%;
			padding: 10px;
		}

		.column {
			float: left;
			width: 25%;
			padding: 10px;
		}

		.column img {
			opacity: 0.7;
			cursor: pointer;
			height: 20vh;
			width: 30vw;
			object-fit: cover;
		}

		.column img:hover {
			opacity: 1;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.container {
			position: relative;
		}

		.close {
			position: absolute;
			right: 32px;
			top: 32px;
			width: 32px;
			height: 32px;
			opacity: 0.3;
		}

		.close:hover {
			opacity: 1;
		}

		.close:before,
		.close:after {
			position: absolute;
			left: 15px;
			content: ' ';
			height: 33px;
			width: 2px;
			background-color: #333;
		}

		.close:before {
			transform: rotate(45deg);
		}

		.close:after {
			transform: rotate(-45deg);
		}
		.open-form {
			position: relative;
			background-color: white;
			border: none;
			cursor: pointer;
			color: #63b0ff;
			margin-right: 15px;
			margin-left: 15px;
			top:10px;
		}
		.open-form:hover {
			color: #2780E3;
		}
		.open-form i{
			font-size: 30px;
			position: relative;
			margin: 0 auto 0 auto;
			left: 0;
			right: 0;
		}

		.form-popup {
			display: none;
			/* margin-left: -6vw; */
		}

		.contactForm-container {
			max-width: 300px;
			min-width: fit-content;
			background-color: white;
		}

		.contactForm-container textarea {
			width: 100%;
			padding: 15px;
			margin-top: 5px;
			margin-bottom: 22px;
			border: none;
			background: #f1f1f1;
			resize: none;
			min-height: 200px;
		}

		.contactForm-container textarea:focus {
			background-color: #ddd;
			outline: none;
		}

		.contactForm-container .btn {
			background-color: #4CAF50;
			color: white;
			padding: 16px 20px;
			border: none;
			cursor: pointer;
			width: 100%;
			margin-bottom: 10px;
			opacity: 0.8;
		}

		.contactForm-container button i {
			float: right;
		}

		.contactForm-container .cancel {
			background-color: red;
		}

		.contactForm-container .btn:hover,
		.open-button:hover {
			opacity: 1;
		}
		.popup {
			display: none;
			position: fixed;
			padding: 10px;
			width: 280px;
			left: 50%;
			margin-left: -150px;
			height: 180px;
			top: 35%;
			margin-top: -100px;
			background: #FFF;
			z-index: 999999999;
		}
		#popup2:after {
			position: fixed;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: -2;
		}

		#popup2:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: #FFF;
			z-index: -1;
		}
		#popup3:after {
			position: fixed;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: -2;
		}

		#popup3:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: #FFF;
			z-index: -1;
		}

		a:hover,
		a:active {
			text-decoration: underline;
		}

		.popup a,
		.popup a:visited {
			color: #1abc9c;
		}

		p {
			margin: 1em 0;
		}

		p+p+p {
			font-size: 60%;
		}
		.title{
			position: relative;
			width: 440px;  
			left: 20px; 
			display: flex; 
			float: left;
			transition: all 0.3s ease;
		}
		@media only screen and (max-width: 800px) {
			.title {
				width: 150px;
			}
		}
		.room-tools{
			transition: all 0.3s ease;
		}
	</style>
		<div style="position: sticky; top: 0; width: 100%; padding-top: 25px;height: 100px; background-color: white; z-index: 9999;">
			<div class="title">
				<h1 style="overflow: hidden; text-overflow:ellipsis;">{{room.title}}</h1>
			</div>
			{% if app.user.id != room.userId.id %}
				<div class="room-tools" style="position: relative; margin-right: 30px; display:flex; flex-wrap: wrap; float: right;">
					<div id="add-favourite" class='open-form' data-user="{{owner.id}}" data-room="{{room.id}}">
						<i class="material-icons">
							{% if inFav == true %}
								favorite
							{% else %}
								favorite_border
							{% endif %}
						</i>
					</div>
					<div class='open-form' onclick="show('popup2')">
						<i class="material-icons">
							book
						</i>
					</div>
					<div class="open-form" onclick="show('popup3')">
						<i class="material-icons">
							message
						</i>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="popup" id="popup2" style="position: fixed; width: 400px; height: 500px; margin: -120px auto 0 auto; left: 0; right:0;">
			<center>
			<div id="book-calendar" style="border-radius:15px; margin: 20px 0px 20px 0px;"></div>
				<div class="contactForm-container">
					<button id="book-confirm" class='btn btn-primary' onclick="hide('popup2')" data-room="{{room.id}}" data-bookings="{{bookings|json_encode()}}">Rezerwuj</button>

					<button type=" button" class=" btn cancel" onclick=" hide('popup2')">
						<b>Zamknij
						</b>
					</button>
				</div>
			</center>
		</div>
		<div class="popup" id="popup3" style="width:auto; height:auto;">
			<div class="contactForm-container">
				<label for="message">
					<b>Treść wiadomości:</b>
				</label>
				<textarea class="form-control z-depth-1" id="message" rows="3" placeholder="Tutaj wpisz treść wiadomości do wystawiającego ogłoszenie (max. 250 znaków)"></textarea>
				<button id="send-message" class="btn btn-primary" onclick="hide('popup3')" data-user="{{owner.id}}" data-room="{{room.id}}" style="margin: 0 0 0 0;">
					<b>Wyślij wiadomość
						<i class="fas fa-paper-plane"></i>
					</b>
				</button>
				<button type="button" class="btn cancel" onclick="hide('popup3')">
					<b>Zamknij
						<i class="far fa-times-circle"></i>
					</b>
				</button>
			</div>
		</div>
	</div>

	<div class="w3-content" style="margin: auto;max-width:1200px;">
		<center>
			<img class="mySlides" src="{{room.image1}}" style="max-width:1200px; width:80%; height:auto; max-height:450px;">
			<img class="mySlides" src="{{room.image2}}" style="max-width:1200px; width:80%; height:auto; max-height:450px; display:none">
			<img class="mySlides" src="{{room.image3}}" style="max-width:1200px; width:80%; height:auto; max-height:450px; height:450px;display:none">
			<img class="mySlides" src="{{room.image4}}" style="max-width:1200px; width:80%; height:auto; max-height:450px; height:450px;display:none">
			<img class="mySlides" src="{{room.image5}}" style="max-width:1200px; width:80%; height:auto; max-height:450px; height:450px;display:none">
		</center>
	</div>


	<script>
		$ = function (id) {
return document.getElementById(id);
}

var show = function (id) {
$(id).style.display = 'block';
}
var hide = function (id) {
$(id).style.display = 'none';
}
function currentDiv(n) {
showDivs(slideIndex = n);
}

function showDivs(n) {
var i;
var x = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("demo");
if (n > x.length) {
slideIndex = 1
}
if (n < 1) {
slideIndex = x.length
}
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
}
x[slideIndex - 1].style.display = "block";
dots[slideIndex - 1].className += " w3-opacity-off";
}
	</script>

	<div class="roomimage" style="display:flex; flex-wrap: wrap; justify-content: center; align-content: center;">
		<div class="column">
			<img class="d-block w-100" src=" {{room.image1}}" style="width:100%" onclick="currentDiv(1)">
		</div>
		{% if  room.image2 is not null %}
			<div class="column">
				<img class="d-block w-100" src=" {{room.image2}}" style="width:100%" onclick="currentDiv(2)">
			</div>
		{% endif %}
		{% if  room.image3 is not null %}
			<div class="column">
				<img class="d-block w-100" src=" {{room.image3}}" style="width:100%" onclick="currentDiv(3)">
			</div>
		{% endif %}
		{% if  room.image4 is not null %}
			<div class="column">
				<img class="d-block w-100" src=" {{room.image4}}" style="width:100%" onclick="currentDiv(4)">
			</div>
		{% endif %}
		{% if  room.image5 is not null %}
			<div class="column">
				<img class="d-block w-100" src=" {{room.image5}}" style="width:100%" onclick="currentDiv(5)">
			</div>
		{% endif %}
	</div>

	<div class="mother" style="display:flex; flex-wrap: wrap; justify-content: center; align-content: center;">
		<div id="availability-calendar" style="margin-top:20px;" class="availability-calendar" data-date-from="{{room.dateFrom | date('Y-m-d') }}" data-date-to="{{room.dateTo | date('Y-m-d') }}"></div>
		<div style="margin-left:20px; min-width: 25vw;">
			<p style="overflow-wrap: break-word;flex-wrap: wrap; ">
				<div class="has-tip"></style>
				<b>Stopień dopasowania:</b>
				<span class="tooltip">
					<strong>Wynik jest wyliczany na podstawie rozwiązanego testu!</strong><br>
					Jest to miara najlepszego dopasowania dwóch użytkowników ze względu na cechy charakteru.</span>
			</p>
		</div>
		{% if (showBond == true) %}
			{% if owner.bond <= 50 %}
				<div style='border-radius:20px;color: white;background-color: red;margin-top:20px; width: auto ;height: auto; overflow-wrap: break-word;'>
					<center>
						{{owner.bond}}
						%
					</center>
				</div>
			{% endif %}
			{% if (owner.bond > 50) and (owner.bond <= 75) %}
				<div style='border-radius:20px; color: white;background-color: #ff7518;margin-top:20px; width: auto ;height: auto; overflow-wrap: break-word;'>
					<center>
						{{owner.bond}}
						%
					</center>
				</div>
			{% endif %}
			{% if (owner.bond > 75) and (owner.bond <= 100) %}
				<div style='border-radius:20px;color: white;background-color: limegreen;margin-top:20px; width: auto ;height: auto; overflow-wrap: break-word;'>
					<center>
						{{owner.bond}}
						%
					</center>
				</div>
			{% endif %}
		{% endif %}
		{% if (showBond == false) %}
			<div id="ele" style='border-radius:20px;background-color: white;margin-top:20px; width: auto ;height: auto; overflow-wrap: break-word; box-shadow: 0 10px 10px 0 rgba(16, 36, 94, 0.2);'>
				Jeden z użytkowników nie wykonał testu.
			</div>
		{% endif %}
		<div>
			<p style="margin-top:20px;">
				<b>Szczegóły:</b>
			</p>
			<div style='border-radius:20px;background-color: white;margin-top:20px; width: auto ;height: auto; overflow-wrap: break-word; box-shadow: 0 10px 10px 0 rgba(16, 36, 94, 0.2);'>
				<strong>Dostępne od:</strong>
				{{room.dateFrom | date('Y-m-d')}}
			</div>
			<div style='border-radius:20px;background-color: white;margin-top:20px; width: auto;height: auto; overflow-wrap: break-word; box-shadow: 0 10px 10px 0 rgba(16, 36, 94, 0.2);'>
				<strong>Dostępne do:</strong>
				{{room.dateTo | date('Y-m-d')}}
			</div>
			<div style='border-radius:20px;background-color: white;margin-top:20px; width: auto;height: auto; box-shadow: 0 10px 10px 0 rgba(16, 36, 94, 0.2);'>
				<strong>Cena:</strong>
				{{room.price}}
				zł/noc
			</div>
			<div style='border-radius:20px;background-color: white;margin-top:20px; width: auto;height: auto; box-shadow: 0 10px 10px 0 rgba(16, 36, 94, 0.2);'>
				<strong>Powierzchnia:
				</strong>
				{{room.area}}
				m<sup>2</sup>
			</div>
		</div>
	</div>
	<div style="display:block;">
		<div class='a' style="margin-top:10px; max-width: 750px;">
			<h2>Opis:</h2>
			{{room.description | raw}}
		</div>
	</div>
	</div>
	<div style="position: relative; margin: 30px 0 30px 11%;">
		<h2>Lokalizacja:</h2>
	</div>
	<center>
		<div id="mapid" style="width: 75vw; height: 45vh;"></div>
		<div class="lat" data-lat="{{room.location1}}"></div>
		<div class="lng" data-lng="{{room.location2}}"></div>
		<p style="overflow-wrap: break-word; flex-wrap: wrap;margin-top:10px;">
			<b>Dodano przez:</b>
		</p>
		<p>
			<i style="margin-bottom:10px;">{{owner.name}}</i>
		</p>
		<div id="notification" data-type="{{type}}" data-header="{{header}}" data-message="{{message}}"></div>
	</center>
	{{ encore_entry_script_tags('contact') }}{{ encore_entry_script_tags('favourite') }}{{ encore_entry_script_tags('showMap') }}{{ encore_entry_script_tags('calendar') }}
{% endblock %}
