{% extends 'base.html.twig' %}

{% block title %}
Twoje oferty | Roomies4Ever
{% endblock %}

{% block body %}
    <div id = 'app' class='notification' data-type="{{type}}" data-header="{{header}}" data-message="{{message}}"></div>
    <div class="container" style="padding: 16px;  border-radius: 5px;                                                                                                                                                                                                                                                                                                                                                         {#background-color: #f2f2f2;#}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               {# padding: 20px 0 30px 0;#}">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td>
                    <h1 style="font-size: 1.4rem">Lista Twoich pokoi</h1>
                </td>
                <div id="divCheckbox" style="visibility: hidden; display:inline;">
                    move to right- does the trick</div>
                <td>
                    <a class="add-room" href="/room/new">
                        <i class="fas fa-plus">
                            Dodaj nowy</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div class="container" style="padding: 16px;  border-radius: 5px; margin-bottom:5 px;">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 20px 0; border-collapse: collapse;">
            <tr style="background-color: #f2f2f2;">
                <td>
                    Zdjęcie pokoju
                </td>
                <td>
                    Nazwa pokoju
                </td>
                <td>
                    Cena pokoju/noc
                </td>
                <td>
                    Dodano
                </td>
                <td>
                    Działanie
                </td>

            </tr>

            {% for room in pagination %}

                <tr style="border-bottom-style: solid;border-bottom-width: 2px; border-bottom-color: #f2f2f2;">
                    <td><a href="room/show/{{room.id}}"><img src="{{ room.image1 }}" alt="Room-image" height="60" width="90"></a>
                    </td>
                    <td>{{ room.title }}
                    </td>
                    <td>{{ room.price }}
                        zł
                    </td>
                    <td>
                        {{ room.uploaded | date('d.m.Y') }}
                    </td>
                    <td>
                        <a class="delete-room" href="/room/delete/{{room.id}}?n=1">
                            <i class="fas fa-trash-alt">Usuń
                            </i>
                        </a>

                        <a class="edit-room" href="/room/edit/{{room.id}}">
                            <i class="fas fa-edit">Edytuj
                            </i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table></div>
            <div class="container" style="padding: 16px;  border-radius: 5px; margin-bottom:5 px;">
            <h1 style="font-size: 1.4rem">Rezerwacje Twoich pokoi</h1>
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin: 20px 0; border-collapse: collapse;">
            <tr style="background-color: #f2f2f2;">
                <td>
                    Nazwa pokoju
                </td>
                <td>
                    Termin
                </td>
                <td>
                    Rezerwujący
                </td>

            </tr>

            {% for rBookings in bookings %}
                {% for b in rBookings %}
                    <tr style="border-bottom-style: solid;border-bottom-width: 2px; border-bottom-color: #f2f2f2;">
                        <td>
                        {{ b.room.title }}
                        </td>
                        <td>
                            {{ b.dateFrom | date('d.m.Y') }} - {{ b.dateTo | date('d.m.Y') }}
                        </td>
                        <td>
                            {{b.user.fname ~ "(" ~ b.user.email ~ ")"}}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </table></div>
            <div class="navigation"> 
                {{ knp_pagination_render(pagination) }} 
            </div> 
    {% endblock %}
