{% extends 'base.html.twig' %}

{% block title %}
    {{statusCode}}
    | Roomies4Ever
{% endblock %}

{% block  body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Błąd 403</h1>
            </div>
            <h2>Odmowa dostępu...</h2>
            <p>
                {{message}}.</p>
            <p>
                Przejdź do strony głównej.</p>
            <a class="btn" href="/">Strona główna</a>
        </div>
    </div>
{% endblock %}
