.feedback-container {
  position: relative;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 70px auto 70px auto;
  border-radius: 7px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  padding: 50px 0 50px 0;
}
@media (min-width: 625px) {
  .feedback-container {
    width: 500px;
  }
}
.label {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: x-large;
  background-color: white;
  color: rgb(148, 148, 148);
}
.feedback-form {
  position: relative;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
}
#title {
  border-radius: 7px;
  margin-bottom: 5px;
}
#message {
  overflow: hidden;
  border-radius: 7px;
  margin-bottom: 20px;
  resize: none;
}
#submit {
  border-radius: 7px;
  box-shadow: none;
  border-color: lightgray;
  background-color: rgb(10, 150, 245);
  color: white;
}
