h1 {
  position: relative;
  top: -20px;
  margin-bottom: 20px;
}
.info {
  position: relative;
  border-radius: 7px;
  margin: 0 auto 20px auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 400px;
}
@media (max-width: 600px) {
  .info {
    width: 80%;
  }
}
.row {
  width: 80%;
  align-content: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  left: 0;
  right: 0;
}

.date {
  margin: 10px auto 20px auto;
  left: 0;
  right: 0;
  width: 170px;
}
.desc {
  position: relative;
  max-width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto 20px auto;
  border-radius: 7px;
  resize: none;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .desc {
    width: 800px;
  }
}
.upload {
  position: relative;
  width: 500px;
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 20px;
}
.file {
  display: none;
}
.file ~ label {
  position: relative;
  height: 50px;
  width: 350px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  line-height: 50px;
  border: 1px solid lightgray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.file ~ label:hover {
  border-color: lightskyblue;
}
.file ~ label:active {
  background-color: #347ed3fb;
  color: white;
}
.file.inactive ~ label {
  display: none;
}
@media (max-width: 500px) {
  .file ~ label {
    width: 80%;
  }
  .upload {
    width: 100%;
  }
}
.new-img {
  position: relative;
  width: 170px;
  cursor: pointer;
  color: rgb(54, 177, 253);
  margin: 0 auto 0 auto;
  left: 0;
  right: 0;
  padding: 5px 20px 5px 0;
  line-height: 41px;
  user-select: none;
}
.new-img:hover {
  color: #2780e3;
}
.new-img:active {
  color: #0157b9;
}
.new-img.disabled {
  color: gray;
  pointer-events: none;
}
i {
  position: relative;
  margin-right: 15px;
  top: 6px;
}
.submit {
  position: relative;
  width: 100%;
  margin: 0 auto 0 auto;
}
