html {
  scroll-behavior: smooth;
}
.search-header {
  text-align: center;
}
.search-tools {
  margin-bottom: 100px;
}
.search-map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0;
  transition: all 0.2s ease-in;
}
.basic-search-tools {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -50px;
}
.react-calendar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in;
}
.search-range-container {
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0 rgba(16, 36, 94, 0.3);
  left: 0;
  right: 0;
  width: 90%;
  max-width: 700px;
  top: -50px;
  z-index: 9999999999;
}
.search-range {
  position: relative;
  -webkit-appearance: none;
  width: 88%;
  height: 4px;
  bottom: 3px;
  text-align: center;
  background-color: lightgray;
}
.search-range:active {
  outline: none;
}
.search-range-wrapper {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
}
.search-range::-webkit-slider-runnable-track {
  height: 18px;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.search-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(114, 178, 238, 1) 0%,
    rgba(68, 145, 233, 1) 74%,
    rgba(68, 145, 233, 1) 100%
  );
  cursor: pointer;
}

.search-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(114, 178, 238, 1) 0%,
    rgba(68, 145, 233, 1) 74%,
    rgba(68, 145, 233, 1) 100%
  );
  cursor: pointer;
}
.search-range::placeholder {
  text-align: center;
}
.search-calednar {
  padding: 0;
}
.advanced-tools {
  position: relative;
  margin-top: 75px;
  height: 317px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: 7px;
}
.advanced-tools-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.price-range-select {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.price-select {
  width: 100px;
  height: 60px;
  border-radius: 7px;
  text-align: center;
}
.search-advanced-label {
  position: absolute;
  top: -14px;
  background-color: white;
}
.price-range-separator {
  position: relative;
  margin: auto 5px auto 5px;
  top: 0;
  bottom: 0;
  width: 15px;
  height: 2px;
  background-color: lightgray;
}
.price-select-container {
  position: relative;
}
.floating-label {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  transition: all 0.2s ease;
}
.price-select:focus ~ .floating-label,
.price-select:not(:placeholder-shown) ~ .floating-label {
  top: 15px;
  bottom: 10px;
  left: 7px;
  font-size: 12px;
  opacity: 1;
}
.price-select:focus {
  box-shadow: none;
}
.scroll-up-container {
  position: fixed;
  bottom: 25px;
  left: 25px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 10px 10px 18px rgba(16, 36, 94, 0.45);
  background-color: white;
  text-align: center;
  cursor: pointer;
  display: none;
  transition: all 0.2s;
  z-index: 9999;
}
.scroll-up-container:hover {
  background-color: #a9d4ff;
}
.scroll-up-container:hover .scroll-up-button {
  color: white;
}
.scroll-up-button {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: darkgray;
}
.scroll-up-container.active {
  display: inline-block;
}
.dropdown-toggle {
  background-color: lightgray;
  border-radius: 4px;
}
.sort-pick-container {
  position: relative;
  width: 220px;
  margin: 50px auto 0 auto;
  left: 0;
  right: 0;
}
.dropdown-toggle {
  background: white;
  color: gray;
  border: 1px solid lightgray;
}
.submit-button {
  position: fixed;
  bottom: 37px;
  right: 50px;
  width: 300px;
  font-size: 20px;
  background-color: white;
  color: darkgrey;
  border-radius: 7px;
  border: none;
  box-shadow: 5px 10px 25px rgba(16, 36, 94, 0.6);
  transition: all 0.2s ease;
  z-index: 9999999999;
}
.submit-button:hover {
  background-color: #a9d4ff;
}
@media screen and (max-width: 490px) {
  .submit-button {
    width: 150px;
  }
  .scroll-up-container {
    left: 25px;
  }
}

@media screen and (max-width: 950px) {
  .ads {
    width: 0px;
  }
}

@media screen and (max-width: 490px) {
  .submit-button {
    width: 150px;
  }
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.ads {
  position: absolute;
  right: -0px;
}
.ads {
  position: sticky;
  bottom: 37px;
  width: 300px;
}
.ads {
  display: table-header-group;
}
.ads {
  z-index: 8;
}
.ads {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projects-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.memeber-list {
  display: flex;
  justify-content: center;
  background: #ffffff;
  border-top: 1px solid #e1e1e1;
  bottom: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  right: 0;
  z-index: 8;
}
.memeber-list {
  min-height: 10em;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  height: auto;
  vertical-align: middle;
  border-radius: 8px;
  padding: 15px 5%;
}
.imgAd {
  height: 120px;
  width: 160px;
}

.list-group-item {
  padding: 15px;
  border-radius: 20px;
}
