.data-frame {
  position: relative;
  margin-top: 75px;
  height: 317px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: 7px;
  z-index: 12;
}
.data-frame input {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 90%;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 20px;
}
.settings-label {
  position: absolute;
  top: -14px;
  font-size: 16px;
}
.settings-details {
  position: relative;
  margin: auto;
  right: 0;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.submit-button {
  position: fixed;
  bottom: 37px;
  width: 300px;
  right: -320px;
  font-size: 20px;
  background-color: white;
  color: darkgrey;
  border-radius: 7px;
  border: none;
  box-shadow: 5px 10px 25px rgba(16, 36, 94, 0.6);
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 9999;
}
.submit-button.active {
  right: 50px;
  pointer-events: all;
}
.submit-button:focus {
  border: none;
}
.row {
  margin: 0 0 50px 0;
}
.upgrade-img {
  position: absolute;
  left: 30px;
  top: 12px;
  color: #2780e3;
  z-index: 10;
  transition: all ease 0.7s;
  cursor: pointer;
  z-index: 10;
}
.upgrade-label {
  position: absolute;
  right: 60px;
  top: 5px;
  font-size: large;
  color: gray;
  pointer-events: none;
  z-index: 10;
}
.upgrade-details {
  position: relative;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 5px 9px 12px rgba(16, 36, 94, 0.3);
}
.upgrade-details:active {
  background: linear-gradient(
    to bottom,
    rgba(109, 179, 242, 0.2) 0%,
    rgba(54, 144, 240, 0.2) 25%,
    rgba(84, 163, 238, 0.2) 50%,
    rgba(54, 144, 240, 0.2) 62%,
    rgba(30, 105, 222, 0.2) 100%
  );
}
.upgrade-details:hover {
  border: 1px solid #2780e3;
}
.upgrade-details:hover .upgrade-label {
  color: #2780e3;
}
.up-arrow {
  position: absolute;
  top: 1px;
  transition: all ease 0.5s;
}
.upgrade-details:hover .upgrade-img > .up-arrow {
  top: -30px;
}
.shine {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 340px;
  background: linear-gradient(
    45deg,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 31%,
    rgba(216, 225, 231, 1) 50%,
    rgba(216, 225, 231, 1) 57%,
    rgba(181, 198, 208, 1) 78%,
    rgba(224, 239, 249, 1) 100%
  );
  transform: skewX(20deg) translateX(0);
  filter: blur(5px);
  z-index: 9;
  animation-name: shining;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes shining {
  0% {
    right: 340px;
  }
  25% {
    right: -60px;
  }
  50% {
    right: 340px;
  }
}
.upgrade-desc {
  position: relative;
  text-align: center;
  font-size: 19px;
  margin-bottom: 60px;
}
.upgrade-wrapper {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
