{% extends 'base.html.twig' %}

{% block title %}
	Wyszukaj | Roomies4Ever
{% endblock %}

{% block body %}
	<h1 class="search-header">Wyszukaj</h1>
	<div class="search-tools">
		<div class="search-map">
			<div id="mapid" style="width: 100%; height: 500px"></div>
			<div class="search-range-container">
				<div class="search-range-wrapper">
					<input class="search-range" id="radius" placeholder="Zasięg poszukiwań (W metrach)" type="range"></input>
			</div>
		</div>
	</div>
	<div class="basic-search-tools row">
		<div id="search-calendar" class="search-calendar col-sm-12 col-md-6 col-lg-6"></div>
		<div class="advanced-tools col-sm-12 col-md-6 col-lg-6">
			<h5 class="search-advanced-label">Szczegóły</h5>
			<div class="advanced-tools-container">
				<div class="price-range-select">
					<div class="price-select-container">
						<input class="form-control price-select" id="priceMin" placeholder=" " type="text"></input>
					<span class="floating-label">Cena min.</span>
				</div>
				<div class="price-range-separator"></div>
				<div class="price-select-container">
					<input class="form-control price-select" id="priceMax" placeholder=" " type="text"></input>
				<span class="floating-label">Cena maks.</span>
			</div>
		</div>
		<div class="sort-pick-container">
			<select id="empid" class="selectpicker">
				<optgroup label="Sortuj według">
					<option value="0" t="Najnowsze">Najnowsze</option>
					<option value="1">Najstarsze</option>
					<option value="2">Cena rosnąco</option>
					<option value="3">Cena malejąco</option>
				</optgroup>
			</select>
		</div>
	</div>
</div></div></div><input class="btn btn-lg btn-primary submit-button search-button" id="submit" type="submit" value="Szukaj"></input>
				 <div id="wrapper"><div class="offers col-lg-8 mx-auto" style="
					margin-top: 40px; margin-bottom: 30px;max-width: fit-content;">
<ul class="list-group shadow" style="border-radius: 20px;">
	{% for room in pagination %}
		{% if loop.last == true %}
			<li class="list-group-item" style="margin-bottom: 0px;">
			{% else %}
				<li class="list-group-item" style="margin-bottom: 15px;">
				{% endif %}
				<div class="media align-items-lg-center flex-column flex-lg-row p-3">
					<div class="media-body order-2 order-lg-1" style="margin-left: 5px; float:right;">
						<h5 class="mt-0 font-weight-bold mb-2">
							<a class="mt-0 font-weight-bold mb-2" href="room/show/{{room.id}}">
								{{ room.title}}
							</a>
						</h5>
						<div class="d-flex align-items-center justify-content-between mt-1">
							<h6 class="font-weight-bold my-2">{{room.price}}
								zł/noc</h6>
						</div>
						<p class="font-italic text-muted mb-0 small">Dodano:
							{{room.uploaded| date('Y-m-d')}}</p>
						
					</div>
					<a href="room/show/{{room.id}}"><img src="{{ room.image1 }}" alt="Room-image" height="300" width="240" class="ml-lg-5 order-1 order-lg-2"></a>

				</div>
			</li>
			{%endfor%}
		</ul>
	</div>
	<!-- </div> -->
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	{% if app.user %}
		{% if app.user.isVip == 0 and random(1) == 1 %}
			<div class="ads">
		{% else %}
				<div class="ads" style="display:none;">
		{% endif %}
	{% elseif random(1) == 1 %}
		<div class="ads">
	{% else %}
		<div class="ads" style="display:none;">
	{% endif %}
			
				<script>
					</script>
			<div class="memeber-list" id = "1" >
				<div class="popupCloseButton">&times;</div>
				<a href="http://florater.herokuapp.com/" target="_blank">
					<img  class="imgAd " src="https://res.cloudinary.com/roomies4ever/image/upload/v1578660017/RoomsImages/gcgmvnu7b96falrrfvwr.png"  class="img-responsive center-block"/>
					<p class="projects-name">FloraTer</p>
				</a>
			</div>
			<div class ="memeber-list" id = "2" style='display:none;'>
				<div class="popupCloseButton">&times;</div>
														<a href="https://s426272.projektstudencki.pl/" target="_blank">
															<img class="imgAd " src="https://res.cloudinary.com/roomies4ever/image/upload/v1578662955/RoomsImages/wkk2nykxjmnzaygpixo0.gif"   class="img-responsive center-block"/>
															<p class="projects-name">Syllabi</p>
														</a>
													</div>
		</div>
	</div>
</div>
<div class="scroll-up-container">
	<i class="scroll-up-button fas fa-chevron-up fa-lg"></i>
</div>
<div id="notification" data-found="{{found}}" data-type="{{type}}" data-header="{{header}}" data-message="{{message}}"></data>
{{ encore_entry_link_tags('search') }}
{{ encore_entry_script_tags('searchMap') }}
{{ encore_entry_script_tags('ads') }}
{% endblock %}

