{% extends 'base.html.twig' %}

{% block body %}
	<div style="margin-top:15px;">
		<center>
			<h1>{{ app.user.fname }}
				oto Twój test!</h1>
		</center>

		{{form_start(form)}}
		{% set i = 1 %}
		<br>
		{% for question in form %}
			{% if i < 12 %}
				<div style="margin-top:10px; display:flex; flex-direction: row; flex-wrap:wrap; justify-content:center;">
					<div style="display:flex; width:500px; border-radius: 5px; background-color:#87CEFA;">
						{{i}}.
						{{form_label(question)}}
					</div>
					<div
						style="margin-left:5px; min-width:90px;">
						{# Tak #}
						{% set j = 0 %}
						{% for answer in question.children %}
							{% if (j is divisible by(2)) %}
								Tak
								{% else %}Nie
							{% endif %}
							{{form_widget(answer)}}
							{% set j=j+1 %}
						{% endfor %}
						{# Nie #}
					</div>
					{% set i = i + 1 %}
				</div>
			{% endif %}
		{% endfor %}
		<br>
		{% set i = 1 %}
		{% for question in form %}
			{% if i >= 12 and i < 17 %}
				<div style="margin-top:10px; margin-left:auto; margin-right:auto; display:flex; flex-direction: column; flex-wrap:wrap; max-width:590px;">
					<div style="border-radius:5px; background-color:#87CEFA; margin-bottom:10px;">
						{{i}}.
						{{form_label(question)}}
					</div>
					{% for answer in question.children %}
						<div style="margin-left:5px;">{{form_widget(answer)}}
							{{form_label(answer)}}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% set i = i + 1 %}
		{% endfor %}
		<br>
		{% set i = 0 %}
		<div style="margin-left:auto;margin-right:auto;display:flex;flex-direction: column; flex-wrap:wrap; max-width:590px;">
			<div style="border-radius: 5px; background-color:#87CEFA;">
				17.
				{{ form_label(form.question16) }}
			</div>
			<center>
				<table>
					{% for option in form.question16.children %}
						{% if (i is divisible by(3)) %}
							<tr>
							{% endif %}
							<td>{{ form_widget(option,{'attr': {'class': 'image-radio'}}) }}{{form_label(option, " ", {'label_attr' : {'class': 'css-label', 'style' : 'background-image: url('~images[i]~'); width: 20vh; height: 20vh; background-size: 100% 100%; cursor: pointer;'}})}}</td>
							{% set i = i + 1 %}
							{% if (i is divisible by(3)) %}
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</center>
		</div>
		<center>
			{{form_widget(form.submit)}}
		</center>
		{{form_rest(form)}}
		{{form_end(form)}}
		<style>
			#form_submit {
				margin-bottom: 3vh;
			}
		</style>

	{% endblock %}
