{% extends 'base.html.twig' %}

{% block title %}Ustawienia | Roomies4Ever{% endblock %}

{% block body %}
    <div class="row">
    <div class="data-frame col-lg-6 col-md-12 col-sm-12">
        <div class="settings-label">Adres e-mail</div>
        <div class="settings-details">
            <input id="user-email" class="form-control" type="text" value="{{app.user.email}}"></input>
        </div>
    </div>
    <div class="data-frame col-lg-6 col-md-12 col-sm-12">
        <div class="settings-label">Numer telefonu</div>
        <div class="settings-details">
            <input id="user-phone-number" class="form-control" type="text" value="{{app.user.phonenumber}}"></input>
        </div>
    </div> 
    <div class="data-frame col-lg-6 col-md-12 col-sm-12">
        <div class="settings-label">Zmiana hasła</div>
        <div class="settings-details">
            <input id="user-old-pass" class="form-control" type="password" placeholder="Stare hasło" value=""></input>
            <input id="user-new-pass" class="form-control" type="password" placeholder="Nowe hasło"value=""></input>
            <input id="user-new-pass-rep" class="form-control" type="password" placeholder="Powtórz nowe hasło" value=""></input>
        </div>
    </div>
    <div class="data-frame col-lg-6 col-md-12 col-sm-12">
        <div class="settings-label">Premium</div>
        <div id="upgrade-content" class="upgrade-wrapper">
        {% if app.user.isVip == false %}
                <div class="upgrade-desc">
                    Ulepsz swoje konto na miesiąc i otrzymuj powiadomienia o rezerwacji na SMS!
                </div>
                <div id="upgrade-btn" class="settings-details upgrade-details">
                    <div class="shine"></div>
                    <div class="upgrade-img">
                        <i class="fas fa-arrow-up fa-lg up-arrow"></i>
                    </div>
                    <div class="upgrade-label">Ulepsz do premium</div>
                </div>
        {% else %}
                <div class="upgrade-desc">
                    Jesteś użytkownikiem premium do dnia {{app.user.vipUntil|date('d.m.Y')}}, Dziękujemy!
                </div>
        {% endif %}
        </div>
    </div>   
    </div>
        <input id="submit" type="submit" class="form-control submit-button" value="Zapisz"></input>
        
{{ encore_entry_link_tags('setting') }}
{{ encore_entry_script_tags('settings') }}
{% endblock %}
