<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #2780E3;">
        <div
            class="container">

            <!-- Grid row-->
            <div
                class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Znajdź nas na mediach społecznościowych!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div
                    class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="ic" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f white-text mr-4"></i>
                    </a>
                    <!-- Twitter -->
                    <a class="ic" href="https://twitter.com/">
                        <i class="fab fa-twitter white-text mr-4"></i>
                    </a>

                    <!--Linkedin -->
                    <a class="ic" href="https://www.linkedin.com/">
                        <i class="fab fa-linkedin-in white-text mr-4"></i>
                    </a>
                    <!--Instagram-->
                    <a class="ic" href="https://www.instagram.com/">
                        <i class="fab fa-instagram white-text"></i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div
        class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div
            class="row mt-3">

            <!-- Grid column -->
            <div
                class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Roomies4Ever</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    Naszą misją jest pomoc w znalezieniu dla naszych użytkowników najlepiej dopasowanych współlokatorów.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div
                class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Przydatne linki</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="/feedback">Zgłoś błąd</a>
                </p>
                <p>
                    <a href="/creators">Twórcy</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div
                class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i>
                    Umultowska 87, 61-614 Poznań</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i>
                    roomies4ever.contact@gmail.com</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
</footer>
<!-- Footer -->
