<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Roomies4Ever</a>
		</div>
		<button class="navbar-toggler" data-target="#mobile-nav" data-toggle="collapse" type="button">
			<i class="fa fa-bars"></i>
			<span class="navbar-toggle-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mobile-nav">
			<ul class="navbar-nav ml-auto">
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="/admin">
							Panel admina
							<i class="material-icons">build</i>
						</a>
					</li>
				{% endif %}
				{% if  is_granted('ROLE_MODERATOR')%}{% endif %}
					<li class="nav-item">
						<a class="nav-link search" href="/search?lat=-200&lng=-200&radius=1000&df=0&dt=0&priceMin=0&priceMax=0&orderBy=0&first=true">
							Wyszukaj
							<i class="material-icons">search</i>
						</a>
					{% if is_granted('ROLE_USER')%}
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/favourites">
							Ulubione
							<i class="fas fa-heart"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/booked">
							Zarezerwowane
							<i class="fas fa-user-check"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/userRooms">
							Twoje oferty
							<i class="material-icons">loyalty</i>
						</a>
					</li>
					{% if app.user.didTest == false %}
						<li class="nav-item">
							<a class="nav-link" href="/test/show">
								<span class="toDisplayIfMobile v-1">Test osobowości</span>
								<i class="material-icons">check</i>
							</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="/user/settings">
							<span class="toDisplayIfMobile v-1">Ustawienia</span>
							<i class="material-icons">build</i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">
							<span class="toDisplayIfMobile v-1">Wyloguj się</span>
							<i class="fas fa-sign-out-alt"></i>
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/login">
							<span class="toDisplayIfMobile v-1">Zaloguj się</span>
							<i class="fas fa-sign-in-alt"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Zarejestruj się
							<i class="fa fa-group"></i>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<script>
    $(document).ready(function () {
        $('li.active').removeClass('active');
        if (location.pathname == "/") {
            $('div.navbar-header').addClass('active');
        } else if (location.pathname == "/search") {
            str = document.querySelector(".search").href.split('/')[3];
            if (str.search(location.pathname.split('/')[0]) != -1) {
                $('a[href="' + "/" + str + '"]').closest('li').addClass('active');
            }
        } else {
            $('div.navbar-header').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        }
    });
    $(document).ready(function () {
        $('.active').on('click', function (e) {
            return e.preventDefault();
        });
    });
</script>
