{% extends 'base.html.twig' %}

{% block title %}Zgłoszenie błędu | Roomies4Ever{% endblock %}
{% block body %}
    <div class="feedback-container">
        <div class="label"> Zgłoś błąd</div>
        <div class="feedback-form">
            <input id="title" type="text" class="form-control" placeholder="Tytuł (max. 30 znaków)"></input>
            <textarea rows="7" id="message" class="form-control" placeholder="Treść zgłoszenia- tutaj opisz błąd (max. 1000 znaków)"></textarea>
            <input id="submit" type="submit" class="form-control" value="Wyślij"></input>
        </div>
    </div>
    {{ encore_entry_link_tags('feedbackStyle') }}
    {{ encore_entry_script_tags('feedback') }}
{% endblock %}
